body{
    background: linear-gradient(45deg, #eebaeb, #C5DDE8);
    background-repeat: no-repeat;
    font-family: 'Baloo Tamma 2', cursive;
    letter-spacing: 0.1em
}
.nav {

}
.nav,ul,li {
    display: flex;
    margin-left: auto;
    padding: 10px 40px;
}
.nav,ul,li,a {
    color: seashell;
    font-size: 17px;
}

.main {
    text-align: center;
    font-size: 21px;
    color: seashell;
}
